<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Mindscape</title>
  <link rel="shortcut icon" href="/assets/img/favicon.svg" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">Account</a></div>
  </nav>

  <div id="errorMessage" class="hidden">Please fill out required fields.</div>

  <div id="appContainer">
    <section id="app">

    </section>

    <div id="canvasContainer">
      <div id="focusParticle">
        <h1 id="focusTitle">Title of Work</h1>
        <img src="assets/img/domoface.jpeg" alt="sample image">
        <p id="focusDescription">No description available.</p>
        <a href="">Go To Project</a>
        <h2 id="creator"><b>Creator: </b>ndw</h2>
        <h2 id="contact"><b>Contact: </b></h2>
      </div>
      <canvas id="mainCanvas"></canvas>
    </div>
  </div>

  <script src="/assets/appBundle.js"></script>
  <script src="/assets/canvasBundle.js"></script>
</body>

</html>