<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/account">Account</a></div>
  </nav>

  <div id="errorMessage" class="hidden">Please fill out required fields.</div>

  <div id="appContainer">
    <section id="app">

    </section>

    <canvas id="mainCanvas"></canvas>
  </div>


  {{!-- <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div> --}}
  <script src="/assets/appBundle.js"></script>
  <script src="/assets/canvasBundle.js"></script>
</body>

</html>