<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Mindscape</title>
  <link rel="shortcut icon" href="/assets/img/favicon.svg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 

  <h1 id="title">Mindscape</h1>
  
  <section id="content">

  </section>

  <div id="errorMessage" class="hidden">Please fill out required fields</div>

  <div id="loginSignupSwitch"><span id="switchLabel">Don't have an account? </span><a id="switchButton" href="/signup" data-mode="signup">Sign up here</a></div>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
